<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoB0x10 Attendance</title>
</head>
<body>
    <h1> BoB Attendance Main Page</h1>
    <A href = "/api/all" target = "링크 방법" > 모든 정보 출력 </A>
    <br>
    <form action="/search" method="get">
        ID:
        <input type="text" name="id"><br>
        TIME(ex.20200917):
        <input type="text" name="time"><br>
        <input type="submit" value="id 검색"/>
    </form>
    <br>
    <br>
    <form action="/user/signup" method="post">
        이름
        <input type="text" name="name"><br>
        아이디
        <input type="text" name="id"><br>
        비밀번호
        <input type="password" name="password"><br>
        <input type="submit" value="회원등록"/>
    </form>
    <br>
    <br>
    <form action="/device/add" method="post">
        아이디
        <input type="text" name="id"><br>
        맥주소(aa:bb:cc:dd:ee:ff)
        <input type="mac" name="mac"><br>
        <input type="submit" value="기기등록"/>
    </form>
    <br>
    <br>
    맥주소로 검색
    <form action="/searchbymac" method="get">
        맥주소(aa:bb:cc:dd:ee:ff)
        <input type="mac" name="mac"><br>
        <input type="submit" value="기기등록"/>
    </form>
</body>
</html>